@import '../../../variables.scss';

@mixin setLeftMenuWidth($width) {
  width: $width !important;
  flex: 0 0 $width !important;
  max-width: $width !important;
  min-width: $width !important;
}

.left-layout-sider {
  @include setLeftMenuWidth($left-menu-width);
  position: relative;
  padding-bottom: 0;
  background: $app-bg-color;

  &.ant-layout-sider-collapsed {
    @include setLeftMenuWidth($left-menu-collapsed-width);
    .left-menu-download-project {
      text-align: center;
    }
    .ant-layout-sider-trigger {
      svg {
        transform: rotate(180deg);
        path {
          fill: $app-primary-color;
        }
      }
    }
    .ant-menu-item {
      .anticon {
        margin: 0 !important;
      }
    }
  }

  .ant-layout-sider-trigger {
    height: 66px;
    width: 10px !important;
    position: absolute;
    right: -10px;
    top: 47%;
    z-index: 1;
    background:#fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 63px;
    text-align: left;
    svg {
      margin-left: 2px;
      path {
        fill: $app-primary-color;
      }
    }
  }

  .sider-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    .left-menu-wrapper {
      height: 100%;
      background: $app-bg-box;
      overflow: hidden;
      .menu-list {
        border: none;
        color: $defautl-font-color;
        font-weight: 500;
        font-size: 13px;
        background: transparent;
        &.ant-menu-inline-collapsed {
          width: 100%;
          .ant-menu-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            .anticon {
              line-height: normal;
              display: flex;
            }
          }
        }

        .ant-menu-item {
          width: 100%;
          margin: 0;
          color: $app-primary-color;
          font-weight: normal;
          .anticon {
            svg {
              width: 20px;
              height: 20px;
            }
          }
          span {
            vertical-align: middle;
          }
          &.ant-menu-item-selected,
          &:hover {
            svg {
              path,
              circle,
              rect {
                fill: $app-primary-color;
              }
            }
          }
          &::after {
            content: none;
          }
        }
      }

      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background: $app-light-blue;
        color: $app-primary-color;
        box-shadow: inset -3px 0px 0px #39C2D7;
        &::after {
          border: none;
        }
      }

      .user-infor {
        padding: 0 15px;
        display: flex;
        margin: 30px 0 15px 0;
        .user-account {
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          .username {
            margin: auto;
          }
        }
      }
    }

    &.ant-layout-sider-collapsed {
      @include setLeftMenuWidth($left-menu-collapsed-width);
    }
  }
}

.left-menu-download-project {
  position: relative;
  padding: 5px 15px;
  border-bottom: 1px solid #f1f1f1;
  .project-drop-down-icon {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  .current-project {
    cursor: pointer;
  }
}
.left-menu-project-slug{
  font-size: 11px;
  color: $app-dark-text;
  line-height: 11px;
}
.left-menu-dropdown-overlay {
  max-height: 50vh;
  overflow-y: scroll;
  @media screen and (max-width:768px){
    max-height: calc(100vh - 120px);
  }
}