@import '../../variables.scss';

.recent-page {
  display: flex;
  flex-direction: column;
  .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .table-content {
      flex: 1;
      overflow-y: auto;
    }
  }
}
