@import '../../variables.scss';

.breadcrumb-container {
  background: #fff;
  padding: 24px;
  color: $app-primary-color;
  .breadcrumb-list {
    font-weight: 400;
    font-size: 16px;
    .ant-breadcrumb-separator {
      font-size: 14px;
    }
    .breadcrumb-item {
      font-size: 14px;
      color: $app-primary-color;
    }
  }
  .page-name {
    font-weight: 600;
    font-size: 20px;
  }
}