@import '../../variables.scss';


.credential-page {
    .credential-tabs {
        background: #fff;
        // min-height: 500px;
        // padding: 16px;
        margin-top: 10px;
    }
    .ant-tabs {
        min-height: 500px;
    }

    .tablist {
        background: #f1f1f1;
        padding: 15px 0;
    }

    .ant-tabs-content-holder {
        padding: 15px 15px 15px 0;
    }

    .ant-tabs-tab {
        margin: 0 !important;
        padding: 15px;
    }

    .ant-tabs-tab-active {
        background: #39c2d74d;
        .ant-tabs-tab-btn {
            color: $app-primary-color !important;
        }
    }

    .credential-quotations-table {
        margin: 20px 0 50px 0;
        .quotation-table {
            margin-top: 10px;
        }
    }

    .credential-footer {
        padding: 15px 0;
        text-align:  right;
    }


}
.credential-head {
    display: flex;
    justify-content: space-between;
}

.content-inner-center {
    max-width: $content-width;
    margin: auto;
}

.credential-key-input {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    position: relative;
    .copy-button {
        cursor: pointer;
        position: absolute;
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 5px;
    }
}
.create-credential-radio-subtext {
    margin-left: 25px;
    display: inline-block;
    word-wrap:break-word;
    width: 100%;
    white-space: normal
}

.create-credential-apikey-section, .create-credential-environment-section {
    margin-bottom: 25px;
}
.create-credential-subtitle, .create-credential-select-module {
    margin-bottom: 10px;
}