@import '../../../variables.scss';


.create-credential-table-content .app-table {
  td, th {
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    padding: 8px;
  }
  th {
    background: $app-light-blue;
  }
}