@import '../../../variables.scss';


.create-credential-table-content .app-table {
  td, th {
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    padding: 8px;
  }
  th {
    background: $app-light-blue;
  }
}
.credential-list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f1f1f1;
  li {
    padding: 6px 15px;
    cursor: pointer;
    &.active {
      background: $app-light-blue;
      color: $app-primary-color;
      box-shadow: inset -3px 0px 0px $app-secondary-color;
    }
  }
}

.credential-content {
  padding: 10px;
}