/* Variables */
$header-height: 40px;
$left-menu-width: 256px;
$left-menu-collapsed-width: 83px;
$border-box-radius: 10px;

/* app colors */
$defautl-font-color: #d1d1d7;
$app-bg-color: #FFFFFF;
$app-primary-color: #11425D;
$app-secondary-color: #39C2D7;
$app-bg-box: #ffffff;
$app-bg-page-content: #f8f8f8;
$app-box-border-color: #53555a;
$app-light-blue: #39c2d74d;

$modal-bg-color: #242e4c;
$font-red-color: #f44336;
$font-gray-color: #DBDBDB;
$font-page-color: #11425D;
