@import '../../../variables.scss';

.graph-container {
    .filter-bar {
        display: flex;
        margin-bottom: 30px;
        .left-filter {
            .filter-name {
                font-size: 16px;
                font-weight: bold;
                color: $app-primary-color;
            }
            .ant-select {
                margin-left: 15px;
            }
        }
        .right-filter {

        }
    }
    .graph-list {

    }
}